@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "mixins";

.header {
  padding: 35px 0 35px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    padding-bottom: 3px;
    color: $title;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 0.2s,
      border-color 0.2s;

    &:focus {
      color: $accent;
      border-bottom: 2px solid $accent;
    }

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }

  }

}

.user-nav {
  display: flex;
  padding-right: 14px;

  &__link {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: content;
    background-position: center;


    &--active {
      color: $accent;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--user {
      background-image: url('../images/sprite.svg#user');
    }

    &--heart-icon {
      background-image: url('../images/sprite.svg#heart-icon');
    }

    &--search {
      width: 22px;
      height: 22px;
      background-image: url('../images/sprite.svg#search');
    }

    &--cart {
      background-image: url('../images/sprite.svg#cart');
    }
  }

  &__num {
    position: absolute;
    top: -7px;
    left: 14px;
    display: block;
    padding: 0 7px 0 7px;
    text-align: center;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 50px;
    color: #fff;
    background-color: $accent;
  }
}