@import "libs";
@import "fonts";
@import "vars";
@import "global";
@import "mixins";

.header {
  padding: 35px 0 35px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    padding-bottom: 3px;
    color: $title;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;

    &:focus {
      color: $accent;
      border-bottom: 2px solid $accent;
    }

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }
  }
}

.user-nav {
  display: flex;
  padding-right: 14px;

  &__link {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: content;
    background-position: center;
    transition: filter 0.2s;

    &:hover {
      filter: invert(36%) sepia(39%) saturate(3531%) hue-rotate(329deg) brightness(100%) contrast(101%);
    }

    &--active {
      color: $accent;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--user {
      background-image: url("../images/sprite.svg#user");
    }

    &--heart-icon {
      background-image: url("../images/sprite.svg#heart-icon");
    }

    &--search {
      width: 22px;
      height: 22px;
      background-image: url("../images/sprite.svg#search");
    }

    &--cart {
      background-image: url("../images/sprite.svg#cart");
    }
  }

  &__num {
    position: absolute;
    top: -7px;
    left: 14px;
    display: block;
    padding: 0 7px 0 7px;
    text-align: center;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 50px;
    color: #fff;
    background-color: $accent;
  }
}

.footer {
  background-color: $bg;
}

.footer-top {
  display: flex;
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__value {
    display: block;
    margin-bottom: 10px;
  }

  &__social {
    display: flex;

    &-item {
      margin-right: 16px;
    }
  }

  &__contacts {
    max-width: 260px;
    width: 100%;
    margin-right: 50px;
  }

  &__nav {
    max-width: 169px;
    width: 100%;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__social-svg {
    width: 16px;
    height: 16px;
    fill: $default;
    transition: fill 0.2s;

    &:hover {
      fill: $accent;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    line-height: 1;
  }

  &__item {
    margin-bottom: 7px;
  }

  &__link {
    display: inline-block;
  }

  &__value {
    display: inline-block;
  }

  &__text p {
    margin: 0;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    max-width: 462px;
    width: 100%;
  }

  &__form-label {
    max-width: 279px;
    width: 100%;
  }

  &__form-input {
    padding: 15px 17px;
    margin-right: 10px;
    min-height: 51px;

    width: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.1);
  }
}

.footer-bottom {
  padding: 27px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    font-size: 12px;
  }

  &__accept {
    display: flex;
  }

  &__desc {
    margin-right: 25px;
  }

  &__accept-img:not(:last-child) {
    margin-right: 25px;
  }
}

.top-slider {
  padding-top: 65px;
  background-image: url("../images/bg/bg.png");
  background-color: $bg;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    max-width: 1560px;
  }

  &__content {
    padding-left: 177px;
  }

  &__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    max-width: 600px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 58px;
    font-weight: 700;
    font-family: "roboto", sans-serif;
    color: $title;
  }

  &__discription p {
    max-width: 485px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  &__img {
    max-width: 655px;
    width: 100%;
    background-size: cover;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    list-style: none;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);

    li {
      transition: box-shadow 0.2s, background-color 0.2s;

      button {
        position: relative;
        font-size: 0;
        border: 2px solid transparent;
        background-color: transparent;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        cursor: pointer;
        transition: box-shadow 0.2s, background-color 0.2s;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50px;
          background-color: $default;
        }

        &:hover {
          background-color: $accent;
          box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.5);
        }

        &:hover::before {
          background-color: #fff;
        }
      }
    }

    .slick-active button {
      border: 2px solid $accent;
      border-radius: 50px;
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.top-categories {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    max-width: 231px;
    width: 100%;
    max-height: 713px;
    height: 100%;
    background-image: url("../images/bg/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    max-width: 243px;
    width: 100%;
    max-height: 796px;
    height: 100%;
    background-image: url("../images/bg/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;

    &::before {
      content: "";
      position: absolute;
      top: -51px;
      left: -54px;
      display: block;
      width: 120px;
      height: 120px;
      background-image: url("../images/sprite.svg#decor1");
      background-repeat: no-repeat;
      background-size: cover;
      filter: invert(63%) sepia(93%) saturate(365%) hue-rotate(351deg) brightness(101%) contrast(102%);
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -26px;
      right: -21px;
      display: block;
      width: 70px;
      height: 55px;
      background-image: url("../images/sprite.svg#decor2");
      background-repeat: no-repeat;
      background-size: cover;
      filter: invert(41%) sepia(38%) saturate(4158%) hue-rotate(327deg) brightness(98%) contrast(111%);
      z-index: -1;
    }
  }

  &__info-list-item {
    padding: 60px 40px;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__info-img {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;

    &--avto-icon {
      background-color: rgb(255, 181, 52);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 40px;
        height: 33px;
        background-image: url("../images/sprite.svg#avto-icon");
        background-repeat: no-repeat;
        background-size: cover;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(102%);
      }
    }

    &--dayicon {
      background-color: rgb(52, 195, 255);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 35px;
        height: 35px;
        background-image: url("../images/sprite.svg#dayicon");
        background-repeat: no-repeat;
        background-size: cover;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(102%);
      }
    }

    &--icon {
      background-color: $accent;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 35px;
        height: 35px;
        background-image: url("../images/icons/icon.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__info-title {
    font-size: 22px;
    font-family: "roboto", sans-serif;
    color: $title;
    line-height: 1.2;
    @include line-clamp(1);
  }

  &__images-description p {
    display: block;
    max-width: 570px;
    margin: 0;
    text-align: center;
    margin: 0 auto 60px;
  }

  &__info-text {
    @include line-clamp(2);
  }
}

.categories {
  &__description {
    display: block;
    text-align: center;
    max-width: 530px;
    margin: 0 auto 60px;
  }

  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__item {
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__subtitle {
        color: $persian-blue;
        font-weight: 700;
      }
    }

    &:nth-child(2) {
      padding-top: 109px;
      grid-column: span 2;

      .categories__subtitle {
        color: $accent;
        font-weight: 700;
      }


    }

    &:nth-child(3) {
      .categories__subtitle {
        color: #ffb534;
        font-weight: 700;
      }
    }

    &:nth-child(4) {
      .categories__subtitle {
        color: #34c3ff;
        font-weight: 700;
      }
    }
  }

  &__subtitle {
    margin: 0 0 5px;
  }

  &__title {
    margin: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    color: $title;
    margin-bottom: 17px;
  }

  &__link {
    font-family: "roboto", sans-serif;
    color: rgb(41, 40, 45);
    text-transform: uppercase;
    line-height: 1.2;
    border-bottom: 1px solid transparent;
    transition: color 0.2s,
      border-color 0.2s;

    &:hover {
      color: $accent;
      border-color: $accent;
    }
  }
}

.trending-fashion {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    max-width: 570px;
    text-align: left;
  }

  &__images {
    position: relative;

    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 130px;
      height: 130px;
      background-image: url("../images/play-btn.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-family: "Quicksand", sans-serif;
    color: $accent;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__title {
    text-align: left;
  }

  &__text {
    margin: 0 0 60px;
  }
}

.trending-products {
  &__description p {
    display: block;
    max-width: 570px;
    margin: 0;
    text-align: center;
    margin: 0 auto 60px;
  }

  &__text {
    @include line-clamp(2);
  }
}

// .blog {
//   &__description p {
//     display: block;
//     max-width: 570px;
//     margin: 0;
//     text-align: center;
//     margin: 0 auto 60px;
//   }

//   &__text {
//     @include line-clamp(2);
//   }
// }