<div class="deal-day ">

  <div class="container">
    <div class="deal-day__wrapper">



      <div class="deal-day__inner">
        <span class="deal-day__subtitle">стиль и мода</span>
        <h2 class="deal-day__title title">сделка дня</h2>

        <ul class="deal-day__clock list-reset" id="clockdiv">
          <li class="deal-day__clock-item">
            <span class="deal-day__days days"></span>
            <div class="deal-day__smalltext smalltext">Дней</div>
          </li>
          <li class="deal-day__clock-item">
            <span class="deal-day__days hours"></span>
            <div class="deal-day__smalltext smalltext">Часов</div>
          </li>
          <li class="deal-day__clock-item">
            <span class="deal-day__days minutes"></span>
            <div class="deal-day__smalltext smalltext">Минут</div>
          </li>
          <li class="deal-day__clock-item">
            <span class="deal-day__days seconds"></span>
            <div class="deal-day__smalltext smalltext">Секунд</div>
          </li>
        </ul>


        <button class="deal-day__btn box-navigation__btn btn-reset btn-accent">
          купить сейчас
        </button>

      </div>
    </div>

  </div>


  <div class="partners">
    <div class="container">

      <ul class="partners__list list-reset">
        <li class="partners__item">
          <img src="images/partners/partners-1.png" alt="partners">
        </li>

        <li class="partners__item">
          <img src="images/partners/partners-2.png" alt="partners">
        </li>

        <li class="partners__item">
          <img src="images/partners/partners-3.png" alt="partners">
        </li>

        <li class="partners__item">
          <img src="images/partners/partners-4.png" alt="partners">
        </li>

        <li class="partners__item">
          <img src="images/partners/partners-5.png" alt="partners">
        </li>

        <li class="partners__item">
          <img src="images/partners/partners-6.png" alt="partners">
        </li>
        <li class="partners__item">
          <img src="images/partners/partners-6.png" alt="partners">
        </li>
        <li class="partners__item">
          <img src="images/partners/partners-6.png" alt="partners">
        </li>
        <li class="partners__item">
          <img src="images/partners/partners-6.png" alt="partners">
        </li>

      </ul>

    </div>


  </div>

</div>