 <section class="top-categories section-page">
   <div class="container">

     <div class="top-categories__info">
       <ul class="top-categories__info-list list-reset">

         <li class="top-categories__info-list-item">
           <span class="top-categories__info-img top-categories__info-img--avto-icon"></span>
           <h4 class="top-categories__info-title">Бесплатная Доставка </h4>
           <div class="top-categories__info-descr">
             <p class="top-categories__info-text">
               Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
             </p>
           </div>
         </li>

         <li class="top-categories__info-list-item">
           <span class="top-categories__info-img top-categories__info-img--dayicon"></span>
           <h4 class="top-categories__info-title">30 Дней Легкого Возврата</h4>
           <div class="top-categories__info-descr">
             <p class="top-categories__info-text">
               Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
             </p>
           </div>
         </li>

         <li class="top-categories__info-list-item">
           <span class="top-categories__info-img top-categories__info-img--icon"></span>
           <h4 class="top-categories__info-title">Поддержка клиентов 24/7</h4>
           <div class="top-categories__info-descr">
             <p class="top-categories__info-text">
               Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
             </p>
           </div>
         </li>

       </ul>
     </div>

     <div class="categories">
       <h2 class="categories__title-box title">лучшие категории товара</h2>
       <div class="categories__description">
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.
         </p>
       </div>

       <ul class="categories__items list-reset">

         <li class="categories__item" style="background-image: url('images/categories/banner-1.jpg');">
           <div class="categories__item-box">
             <p class="categories__subtitle">
               Скидка До 40%
             </p>
             <h4 class="categories__title">
               Обувь и украшения
             </h4>
             <a href="#" class="categories__link link-size">
               подробнее
             </a>
           </div>
         </li>

         <li class="categories__item" style="background-image: url('images/categories/banner-2.jpg');">
           <div class="categories__item-box">
             <p class="categories__subtitle">
               Скидка До 40%
             </p>
             <h4 class="categories__title">
               Обувь и украшения
             </h4>
             <a href="#" class="categories__link link-size">
               подробнее
             </a>
           </div>
         </li>

         <li class="categories__item" style="background-image: url('images/categories/banner-3.jpg');">
           <div class="categories__item-box">
             <p class="categories__subtitle">
               Скидка До 40%
             </p>
             <h4 class="categories__title">
               Обувь и украшения
             </h4>
             <a href="#" class="categories__link link-size">
               подробнее
             </a>
           </div>
         </li>

         <li class="categories__item" style="background-image: url('images/categories/banner-4.jpg');">
           <div class="categories__item-box">
             <p class="categories__subtitle">
               Скидка До 40%
             </p>
             <h4 class="categories__title">
               Обувь и украшения
             </h4>
             <a href="#" class="categories__link link-size">
               подробнее
             </a>
           </div>
         </li>

       </ul>

     </div>

   </div>
 </section>