<section class="top-slider">

  <div class="container top-slider__container">

    <ul class="top-slider__list list-reset">

      <li class="top-slider__item">
        <div class="top-slider__item-inner">
          <div class="top-slider__content">
            <h2 class="top-slider__title">
              Новый Сезон Новая Коллекция
            </h2>
            <div class="top-slider__discription">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
            </div>
            <button class="top-slider__btn btn-reset btn-accent">
              купить сейчас
            </button>
          </div>
          <img class="top-slider__img" src="images/slider/foto.png" alt="foto" width="655" height="630">
        </div>
      </li>

      <li class="top-slider__item">
        <div class="top-slider__item-inner">
          <div class="top-slider__content">
            <h2 class="top-slider__title">
              Новый Сезон Новая Коллекция
            </h2>
            <div class="top-slider__discription">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
            </div>
            <button class="top-slider__btn btn-reset btn-accent">
              купить сейчас
            </button>
          </div>
          <img class="top-slider__img" src="images/slider/banner3.png" alt="foto" width="655" height="630">
        </div>
      </li>

      <li class="top-slider__item">
        <div class="top-slider__item-inner">
          <div class="top-slider__content">
            <h2 class="top-slider__title">
              Новый Сезон Новая Коллекция
            </h2>
            <div class="top-slider__discription">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
            </div>
            <button class="top-slider__btn btn-reset btn-accent">
              купить сейчас
            </button>
          </div>
          <img class="top-slider__img" src="images/slider/bp__1.png" alt="foto" width="655" height="630">
        </div>
      </li>

      <li class="top-slider__item">
        <div class="top-slider__item-inner">
          <div class="top-slider__content">
            <h2 class="top-slider__title">
              Новый Сезон Новая Коллекция
            </h2>
            <div class="top-slider__discription">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
            </div>
            <button class="top-slider__btn btn-reset btn-accent">
              купить сейчас
            </button>
          </div>
          <img class="top-slider__img" src="images/slider/foto.png" alt="foto" width="655" height="630">
        </div>
      </li>

    </ul>

  </div>
</section>