<section class="trending-fashion section-page" style="background-image: url('images/bg/bg3.png');">
  <div class="container">

    <div class="trending-fashion__inner">

      <div class="trending-fashion__images">
        <button class="trending-fashion__images-btn btn-reset"></button>
        <img class="trending-fashion__img" src="images/trending.jpg" alt="foto" width="537" height="373">

      </div>

      <div class="trending-fashion__box">
        <p class="trending-fashion__subtitle">Winter Collection 20% Off</p>
        <h2 class="trending-fashion__title title">трендовая мода</h2>
        <div class="trending-fashion__description">
          <p class="trending-fashion__text">
            Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod temp incididunt ut labore et dolore
            magna aliqua consectetur adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore magna aliqua..
            Quis ipsum de ultcesm. Risus commodo viverra maecenas.
          </p>
        </div>
        <button class="trending-fashion__btn btn-reset btn-accent">
          посмотреть сейчас
        </button>
      </div>

    </div>
</section>