 <section class="blog section-page">
   <div class="container">
     <h2 class="blog__title title">из нашего блога</h2>
     <div class="blog__description">
       <p class="blog__text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.
       </p>
     </div>

     <article class="product-card">

       <img class="product-card__img" src="images/blog/blog-1.jpg" alt="" width="370" height="370" />


     </article>

   </div>
 </section>