 <section class="blog section-page">
   <div class="container">
     <h2 class="blog__title title">из нашего блога</h2>
     <div class="blog__description">
       <p class="blog__text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.
       </p>
     </div>

     <ul class="blog__list list-reset">

       <li class="blog__item">

         <article class="blog-card product-card">

           <img class="blog__card-img" src="images/blog/blog-1.jpg" alt="" width="370" height="287" />

           <div class="blog-card__box-info">
             <div class="blog-card__date">
               <span class="blog-card__span blog-card__span--lk">Личный кабинет</span>
               <span class="blog-card__span blog-card__span--date">30 Апреля 2022 г</span>
             </div>
             <p class="blog-card__text">Наши пользователи используют мобильное приложение
             </p>
             <a class="blog-card__link" href="#">Подробнее</a>

           </div>


         </article>
       </li>

       <li class="blog__item">

         <article class="blog-card product-card">

           <img class="blog__card-img" src="images/blog/blog-2.jpg" alt="" width="370" height="287" />

           <div class="blog-card__box-info">
             <div class="blog-card__date">
               <span class="blog-card__span blog-card__span--lk">Личный кабинет</span>
               <span class="blog-card__span blog-card__span--date">30 Апреля 2022 г</span>
             </div>
             <p class="blog-card__text">Наши пользователи используют мобильное приложение
             </p>
             <a class="blog-card__link" href="#">Подробнее</a>

           </div>


         </article>
       </li>

       <li class="blog__item">

         <article class="blog-card product-card">

           <img class="blog__card-img" src="images/blog/blog-3.jpg" alt="" width="370" height="287" />

           <div class="blog-card__box-info">
             <div class="blog-card__date">
               <span class="blog-card__span blog-card__span--lk">Личный кабинет</span>
               <span class="blog-card__span blog-card__span--date">30 Апреля 2022 г</span>
             </div>
             <p class="blog-card__text">Наши пользователи используют мобильное приложение
             </p>
             <a class="blog-card__link" href="#">Подробнее</a>

           </div>


         </article>
       </li>

     </ul>


   </div>
 </section>