<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="/">
        <img src="images/logo.png" width="183" height="30" alt="logo" />
      </a>

      <nav class="menu">
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a class="menu__link menu__link--active link-size" href="#">
              главная
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-size" href="#"> магазин </a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-size" href="#"> страница </a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-size" href="#"> блог </a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-size" href="#"> контакты </a>
          </li>
        </ul>
      </nav>

      <div class="user-nav">
        <a class="user-nav__link user-nav--hover user-nav__link--user link-size" href="#">
        </a>

        <a class="user-nav__link user-nav--hover user-nav__link--search link-size" href="#">
        </a>

        <a class="user-nav__link user-nav--hover user-nav__link--heart-icon link-size" href="#">
          <span class="user-nav__num">3</span>
        </a>

        <a class="user-nav__link user-nav--hover user-nav__link--cart link-size" href="#">
          <span class="user-nav__num">7</span>
        </a>
      </div>

    </div>
  </div>
</header>