<section class="trending-products section-page">
  <div class="container">
    <h2 class="trending-products__title title">трендовые товары</h2>
    <div class="trending-products__description">
      <p class="trending-products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.
      </p>
    </div>

    <ul class="catalog list-reset">

      <li class="catalog__item">

        <article class="product card">
          <img src="../../images/catalog/foto-1.jpg" alt="" width="370" height="370">
          <h4>Белая футболка Поло</h4>
          <span>$34.00 $27.00</span>

        </article>

      </li>

    </ul>

  </div>
</section>