<section class="trending-products section-page">
  <div class="container">
    <h2 class="trending-products__title title">трендовые товары</h2>
    <div class="trending-products__description">
      <p class="trending-products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo
        tempor ut labore et dolore aliqua.
      </p>
    </div>

    <ul class="catalog list-reset">

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-1.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-2.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-3.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-4.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-5.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__item-card product-card">
          <span class="badge-discount badge-discount__active">sale</span>
          <img class="product-card__img" src="images/catalog/foto-6.jpg" alt="" width="370" height="370" />
          <div class="product-card__info">
            <div class="product-card__rateyo rateyo"></div>
            <h4 class="product-card__title">Белая футболка Поло</h4>
            <div class="product-card__price">
              <span class="product-card__price-new"><span>$</span>27.00</span>
              <span class="product-card__price-old"><span>$</span>34.00</span>
            </div>
          </div>

          <div class="box-navigation">
            <ul class="box-navigation__user user-nav list-reset">
              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--search link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item box-navigation__item--aftor">
                <a class="box-navigation__link user-nav__link user-nav--hover box-navigation__link--bascet link-size"
                  href="#">
                </a>
              </li>

              <li class="box-navigation__item">
                <a class="box-navigation__link user-nav__link user-nav--hover user-nav__link--heart-icon link-size"
                  href="#">
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>

    </ul>

    <button class="box-navigation__btn btn-reset btn-accent">
      показать еще
    </button>

  </div>
</section>